# (실습) 아래의 정보 주민등록에서 뒷자리 (7자리)를 800905-*******로 만들어 출력하세요

# (정규식 안쓰고 알고리즘으로 split(), for, if 처리)

In [1]:
data = '''
park 800905-1049118
kim 700905-1059119
jang 920625-2049307
'''

data

'\npark 800905-1049118\nkim 700905-1059119\njang 920625-2049307\n'

In [73]:
def fun(data):

    name_list=[]
    num_list=[]
    list_data = data.split()
    list_data
    starmark = '*******'
    for i in range(0,len(list_data)):
        if (i%2==0):
            name_list.append(list_data[i])
        elif(i%2==1):
            num_list.append(list_data[i])
            for j in range(0,len(num_list)):
                num_list[j] = num_list[j][:7] + starmark
    
    for k in range(0,len(name_list)):
        print("NAME : ",name_list[k],"  NUMBER :",num_list[k])

In [74]:
fun(data)

NAME :  park   NUMBER : 800905-*******
NAME :  kim   NUMBER : 700905-*******
NAME :  jang   NUMBER : 920625-*******

- 선생님 답안

In [84]:
result = []
for line in data.split('\n'):
    word_result=[]
    for word in line.split(" "):
        if len(word) == 14 and word[:6].isdigit() and word[7:].isdigit():
            word = word[:6] + '-' + '*******'
        word_result.append(word)
    result.append(" ".join(word_result))
print("\n".join(result))

park 800905-*******
kim 700905-*******
jang 920625-*******

- 정규표현식으로 해결하기

In [85]:
import re
data

'\npark 800905-1049118\nkim 700905-1059119\njang 920625-2049307\n'

In [91]:
pat = re.compile("(\d{6})[-]\d{7}")

In [92]:
result = pat.sub('\g<1>-*******', data)
result

'\npark 800905-*******\nkim 700905-*******\njang 920625-*******\n'

In [93]:
result.split()

['park', '800905-*******', 'kim', '700905-*******', 'jang', '920625-*******']