<a href="https://colab.research.google.com/github/OH1107/asia_edu/blob/master/1%EC%9D%BC%EC%B0%A8_20200818.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn
print(sklearn.__version__)

0.22.2.post1

## 1. 개요
- IRIS 붓꽃 분류 모형을 만든다.

### (1) 패키지 불러오기
- sklearn 패키지를 불러온다.

### (2) 데이터 불러오기
- sklearn 패키지 내장 데이터 있음

In [12]:
from sklearn.datasets  import load_iris

iris = load_iris() # Bunch 형태의 데이터셋으로 구성되어 있음

# 독립변수로 구성된 데이터
iris_data = iris.data

# 종속변수
iris_label = iris.target

print("iris target 값 : ", iris_label[[0,50,100]])
print("iris target 명 : ", iris.target_names)

iris target 값 :  [0 1 2]
iris target 명 :  ['setosa' 'versicolor' 'virginica']

### (2) 데이터 전처리
- 상황 : Numpy 형태, 리스트 형태로 되어 있는 데이터
- 방법 : pandas 사용, 데이터 프레임 만들기
- ref : https://stackoverflow.com/questions/38105539/how-to-convert-a-scikit-learn-dataset-to-a-pandas-dataset

In [31]:
import pandas as pd
iris_df = pd.DataFrame(data = iris_data, columns = iris.feature_names)
iris_df['label'] = iris.target
print(iris_df.head(3).to_markdown())

|    |   sepal length (cm) |   sepal width (cm) |   petal length (cm) |   petal width (cm) |   label |
|---:|--------------------:|-------------------:|--------------------:|-------------------:|--------:|
|  0 |                 5.1 |                3.5 |                 1.4 |                0.2 |       0 |
|  1 |                 4.9 |                3   |                 1.4 |                0.2 |       0 |
|  2 |                 4.7 |                3.2 |                 1.3 |                0.2 |       0 |

In [22]:
iris_data_df

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]