# (실습) pandas로 국민청원 데이터 분석하기

In [1]:
import pandas as pd
import numpy as np

### CSV 데이터를 불러오기
##### petition.csv 국민청원 데이터셋 다운로드
##### pandas 읽기

In [2]:
# parse_dates 문구를 삽입하면 데이터를 시간으로 수집
# {:.5f} 부동소수점의 소수점 아래 5자리까지 표시
df = pd.read_csv("c://Ohhhhh/petitiondata/petition.csv", parse_dates=['start','end'])

In [3]:
# 판다스 확인할 때 지수 표현식을 실수표현으로 바꾸기

pd.options.display.float_format='{:.2f}'.format

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395547 entries, 0 to 395546
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   article_id  395547 non-null  int64
 1   start       395547 non-null  datetime64[ns]
 2   end         395547 non-null  datetime64[ns]
 3   answered    395547 non-null  int64
 4   votes       395547 non-null  int64
 5   category    395547 non-null  object
 6   title       395547 non-null  object
 7   content     395546 non-null  object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 24.1+ MB

In [5]:
df.shape

(395547, 8)

In [6]:
df.columns

Index(['article_id', 'start', 'end', 'answered', 'votes', 'category', 'title',
       'content'],
      dtype='object')

In [7]:
df.dtypes

article_id             int64
start         datetime64[ns]
end           datetime64[ns]
answered               int64
votes                  int64
category              object
title                 object
content               object
dtype: object

In [8]:
df.head()

,article_id,start,end,answered,votes,category,title,content
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."

In [9]:
df.tail()

,article_id,start,end,answered,votes,category,title,content
395542,517117,2019-02-04,2019-03-06,0,3,보건복지,명절연휴 고속도로 무료반대,명절고속도로 무료보단 대다수의 서민들이 이용하는 대중교통 무료와 명절기간 증차로 했...
395543,517119,2019-02-04,2019-03-06,0,23,보건복지,광주사태 가짜 유공자들 정수기로 걸려내야함,광주사태 유공자들 차고 넘치는데 이래 많은 유공자들 그냥놓아두면 재앙이다.\n김대중...
395544,517120,2019-02-04,2019-03-06,0,0,안전/환경,환경문제,명절이면 후로 제일문제는 쓰레기 문제 입니다.\n제일문제는 선물세트와 농산물세트 입...
395545,517121,2019-02-04,2019-03-06,0,20,정치개혁,"청화대,더불어민주당, 당장 답하라,,,,,,","좌파 더불어민주당, 좌파 정권 청화대는 선한 국민들을 더는 기망하지 말고 담장 답하..."
395546,517122,2019-02-04,2019-03-06,0,16,인권/성평등,여성부 폐지,국민들이 원합니다\n폐지 좀 시키세요;

In [10]:
df.isnull().sum()

article_id    0
start         0
end           0
answered      0
votes         0
category      0
title         0
content       1
dtype: int64

In [11]:
df.describe()

       article_id  answered      votes
count   395547.00 395547.00  395547.00
mean    251608.93      0.00     150.12
std     153219.22      0.01    4802.58
min         21.00      0.00       0.00
25%     115236.50      0.00       2.00
50%     253682.00      0.00       5.00
75%     386137.50      0.00      15.00
max     517122.00      1.00 1192049.00

# 오브젝트형 데이터 요약 보는 방법

In [12]:
df.describe(include=np.object)

       category     title   content
count    395547    395547    395546
unique       17    346524    375224
top        정치개혁  이명박 출국금지  이명박 출국금지
freq      62750      3018       597

# 답변대상 청원 보기

### 20만건 이상 투표를 받으면 답변 대상 청원이 됩니다.

### 20만건 이상 청원 받은내용으로 데이터 프레임 만들기 -> df_20

### 20만건 이상 투표를 받은 청원의 갯수를 세어보세요.

In [13]:
df_20 = df[df['votes'] >= 200000]

In [14]:
df_20

,article_id,start,end,answered,votes,category,title,content
1752,1785,2017-09-03,2017-11-02,1,296330,인권/성평등,청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...,안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
18111,18278,2017-09-30,2017-10-30,1,235372,인권/성평등,낙태죄 폐지와 자연유산 유도약(미프진) 합법화 및 도입을 부탁드립니다.,안녕하세요. 존경하는 대통령님 의원님\n낙태죄 폐지를 청원합니다.\n현재 대한민국은...
25032,26024,2017-11-04,2017-12-04,1,216774,안전/환경,'주취감형(술을 먹으면 형벌 감형)' 폐지를 건의(청원)합니다.,"'주취감형'이란, 술을 먹고 범행을 저지를 때, 심신미약 (이성이 없고 우발적)이라..."
43992,45581,2017-11-17,2017-12-17,1,281985,보건복지,"권역외상센터 (이국종 교수님) 추가적, 제도적, 환경적, 인력 지원","청원사항)\n중증외상분야의 추가적, 제도적, 환경적, 인력 지원 방안마련\n현 의료..."
...,...,...,...,...,...,...,...,...
363005,472309,2018-12-18,2019-01-17,0,269110,인권/성평등,조재범 코치를 강력처벌해주세요,그는 국가대표 심석희 외 다수의 여자선수들을 지속적으로 적어도 14년간 폭행해온 쓰...
375654,489302,2019-01-07,2019-02-06,0,302856,정치개혁,여.야는 속히 공수처 신설하라 !!!,지금 대한 민국은 나라를 바로 잡기 위해 반드시 이번 정부내에 검찰과 법원의 확실한...
390787,510422,2019-01-29,2019-02-28,0,312197,기타,"경사 ***, 경장 *** 외 ***에서 뇌물받는지 조사부탁드립니다.","경사 ***, 경장 *** 등등 ***에서 뇌물받는지 조사부탁드립니다.\nㅡㅡㅡㅡㅡ..."
391208,511075,2019-01-29,2019-02-28,0,207784,인권/성평등,"공공연한 여성 대상 약물 범죄 처벌과 ***을 비롯한 클럽, 유흥업소와 경찰 간의 ...",*** 사태의 핵심은 클럽&유흥업소 운영 관리인들의 의도적 약물 사용이 의심되는 납...
391984,512112,2019-01-30,2019-03-01,0,270999,정치개혁,"시민의 이름으로, 이번 김경수 지사 재판에 관련된 법원 판사 전원의 사퇴를 명령합니다.","촛불혁명으로 세운 정부와 달리, 사법부는 여전히 과거의 구습과 적폐적 습관을 버리지..."

In [15]:
# 카테고리별로 데이터수 확인하기

#df_20['category'].value_counts() 도 가틍
df_20.category.value_counts()

인권/성평등         24
안전/환경          10
기타              8
정치개혁            8
문화/예술/체육/언론     7
반려동물            4
외교/통일/국방        4
보건복지            3
육아/교육           3
교통/건축/국토        3
성장동력            2
경제민주화           2
미래              1
행정              1
Name: category, dtype: int64

In [16]:
df_20['category'].value_counts()

인권/성평등         24
안전/환경          10
기타              8
정치개혁            8
문화/예술/체육/언론     7
반려동물            4
외교/통일/국방        4
보건복지            3
육아/교육           3
교통/건축/국토        3
성장동력            2
경제민주화           2
미래              1
행정              1
Name: category, dtype: int64

In [17]:
df_20_1=df_20[['title','content','votes']]
df_20_1

,title,content,votes
1752,청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...,안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...,296330
10894,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!,615354
18111,낙태죄 폐지와 자연유산 유도약(미프진) 합법화 및 도입을 부탁드립니다.,안녕하세요. 존경하는 대통령님 의원님\n낙태죄 폐지를 청원합니다.\n현재 대한민국은...,235372
25032,'주취감형(술을 먹으면 형벌 감형)' 폐지를 건의(청원)합니다.,"'주취감형'이란, 술을 먹고 범행을 저지를 때, 심신미약 (이성이 없고 우발적)이라...",216774
43992,"권역외상센터 (이국종 교수님) 추가적, 제도적, 환경적, 인력 지원","청원사항)\n중증외상분야의 추가적, 제도적, 환경적, 인력 지원 방안마련\n현 의료...",281985
...,...,...,...
363005,조재범 코치를 강력처벌해주세요,그는 국가대표 심석희 외 다수의 여자선수들을 지속적으로 적어도 14년간 폭행해온 쓰...,269110
375654,여.야는 속히 공수처 신설하라 !!!,지금 대한 민국은 나라를 바로 잡기 위해 반드시 이번 정부내에 검찰과 법원의 확실한...,302856
390787,"경사 ***, 경장 *** 외 ***에서 뇌물받는지 조사부탁드립니다.","경사 ***, 경장 *** 등등 ***에서 뇌물받는지 조사부탁드립니다.\nㅡㅡㅡㅡㅡ...",312197
391208,"공공연한 여성 대상 약물 범죄 처벌과 ***을 비롯한 클럽, 유흥업소와 경찰 간의 ...",*** 사태의 핵심은 클럽&유흥업소 운영 관리인들의 의도적 약물 사용이 의심되는 납...,207784
391984,"시민의 이름으로, 이번 김경수 지사 재판에 관련된 법원 판사 전원의 사퇴를 명령합니다.","촛불혁명으로 세운 정부와 달리, 사법부는 여전히 과거의 구습과 적폐적 습관을 버리지...",270999

- 투표수가 많은 상위 5개 보기

In [37]:
df_20.sort_values('votes', ascending=False).head()

,article_id,start,end,answered,votes,category,title,content
313314,408609,2018-10-17,2018-11-16,0,1192049,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018년 10월 14일 엊그제 일어난 강서구 피시방 살인사건에 대한 청원입니다.\...
208597,269548,2018-06-13,2018-07-13,0,714875,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2012년 난민법 제정으로 인해 외국인은 한달 무비자로 입국할 수 있으나 난민신청자...
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
118970,142600,2018-02-19,2018-03-21,1,614127,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다","오늘 여자 단체전 팀추월에서 김보름, 박지우 선수는 팀전인데도 불구하고 개인의 영달..."
183791,230552,2018-05-11,2018-06-10,1,419006,인권/성평등,여성도 대한민국 국민입니다. 성별 관계없는 국가의 보호를 요청합니다.,최근 홍대 누드크로키 모델의 불법촬영 사건이 있었습니다.\n사건은 굉장히 빠르게 처...

- 20만건 이상 투표 받은 청원을 별도 컬럼을 만들어 줍니다. 컬럼 이름은 answer
- True / False로

In [26]:
df.loc[df["votes"]>=200000, "answer"] = 1
df.loc[df["votes"]<200000, "answer"] = 0

# df['answer'] = df['votes'] > 200000 도 가능

print(df['answer'].value_counts())
print(df['answered'].value_counts())

0    395467
1        80
Name: answer, dtype: int64
0    395518
1        29
Name: answered, dtype: int64

- 새로 생성해 준 answer 컬럼 데이터 타입 변경
- bool 타입을 int 타입으로

In [23]:
df.astype({'answer':'int'}).dtypes

article_id             int64
start         datetime64[ns]
end           datetime64[ns]
answered               int64
votes                  int64
category              object
title                 object
content               object
answer                 int32
dtype: object

In [24]:
df

,article_id,start,end,answered,votes,category,title,content,answer
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...,0
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...,0
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...,0
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0
...,...,...,...,...,...,...,...,...,...
395542,517117,2019-02-04,2019-03-06,0,3,보건복지,명절연휴 고속도로 무료반대,명절고속도로 무료보단 대다수의 서민들이 이용하는 대중교통 무료와 명절기간 증차로 했...,0
395543,517119,2019-02-04,2019-03-06,0,23,보건복지,광주사태 가짜 유공자들 정수기로 걸려내야함,광주사태 유공자들 차고 넘치는데 이래 많은 유공자들 그냥놓아두면 재앙이다.\n김대중...,0
395544,517120,2019-02-04,2019-03-06,0,0,안전/환경,환경문제,명절이면 후로 제일문제는 쓰레기 문제 입니다.\n제일문제는 선물세트와 농산물세트 입...,0
395545,517121,2019-02-04,2019-03-06,0,20,정치개혁,"청화대,더불어민주당, 당장 답하라,,,,,,","좌파 더불어민주당, 좌파 정권 청화대는 선한 국민들을 더는 기망하지 말고 담장 답하...",0
395546,517122,2019-02-04,2019-03-06,0,16,인권/성평등,여성부 폐지,국민들이 원합니다\n폐지 좀 시키세요;,0

- 답변대상 청원중 아직 답변되지 않은 청원의 수를 계산해보시오.

In [33]:
answered=df['answered'] == 0
answer=df['answer'] == 1

df[answered & answer].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 137035 to 391984
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   article_id  51 non-null     int64
 1   start       51 non-null     datetime64[ns]
 2   end         51 non-null     datetime64[ns]
 3   answered    51 non-null     int64
 4   votes       51 non-null     int64
 5   category    51 non-null     object
 6   title       51 non-null     object
 7   content     51 non-null     object
 8   answer      51 non-null     object
dtypes: datetime64[ns](2), int64(3), object(4)
memory usage: 4.0+ KB

In [35]:
df[df['answer']==1]["answered"].value_counts()

0    51
1    29
Name: answered, dtype: int64

# 어느 분야 청원이 가장 많이 들어왔는지?
- 청원이 많이 들어온 순서 3개는 어느 분야?

In [54]:
df.category.value_counts()

정치개혁           62750
기타             48682
인권/성평등         34993
안전/환경          30638
교통/건축/국토       28184
외교/통일/국방       26626
육아/교육          25537
보건복지           24848
일자리            23225
행정             20268
문화/예술/체육/언론    18207
미래             18000
경제민주화          16793
성장동력            7253
반려동물            4057
저출산/고령화대책       3584
농산어촌            1902
Name: category, dtype: int64

In [55]:
df.category.value_counts().head(3)

정치개혁      62750
기타        48682
인권/성평등    34993
Name: category, dtype: int64

In [56]:
# reset_index : 기존의 행 인덱스를 제거하고 인덱스를 데이터 열로 추가

category=pd.DataFrame(df['category'].value_counts())
category.head(3)

        category
정치개혁       62750
기타         48682
인권/성평등     34993

In [58]:
category = pd.DataFrame(df['category'].value_counts()).reset_index()
category.head(3)

    index  category
0    정치개혁     62750
1      기타     48682
2  인권/성평등     34993

In [59]:
category.columns=['category','counts']
category.head(3)

  category  counts
0     정치개혁   62750
1       기타   48682
2   인권/성평등   34993

# 중간 까먹은거 독학하기

# 시계열 데이터 보기
- 월별 청원수를 집계해 보세요
- 청원이 가장 많이 들어온 달은?
- 요일별 청원수는?

In [41]:
# 이건 진짜 모르겠다
df['start']

0        2017-08-19
1        2017-08-19
2        2017-08-19
3        2017-08-19
4        2017-08-19
            ...
395542   2019-02-04
395543   2019-02-04
395544   2019-02-04
395545   2019-02-04
395546   2019-02-04
Name: start, Length: 395547, dtype: datetime64[ns]

In [43]:
df['start_date'] = df['start'].dt.date # YYYY-MM-DD 문자
df['start_dow']= df['start'].dt.dayofweek

- df['start_day']        = df['start'].dt.day          # 일(숫자)
- df['start_time']       = df['start'].dt.time         # HH:MM:SS(문자)
- df['start_hour']       = df['start'].dt.hour         # 시(숫자)
- df['start_minute']     = df['start'].dt.minute       # 분(숫자)
- df['start_second']     = df['start'].dt.second       # 초(숫자)

- df['Birth_quarter']       = df['Birth'].dt.quarter       # 분기(숫자)
- df['Birth_weekday_name']  = df['Birth'].dt.weekday_name  # 요일이름(문자) (=day_name())
- df['Birth_weekday']       = df['Birth'].dt.weekday       # 요일숫자(0-월, 1-화) (=dayofweek)
- df['Birth_weekofyear']    = df['Birth'].dt.weekofyear    # 연 기준 몇주째(숫자) (=week)
- df['Birth_dayofyear']     = df['Birth'].dt.dayofyear     # 연 기준 몇일째(숫자)
- df['Birth_days_in_month'] = df['Birth'].dt.days_in_month # 월 일수(숫자) (=daysinmonth)

In [45]:
# 월별로 들어온 청원 카운트
df['start_month'].value_counts()

1     52941
11    52847
9     40888
12    38498
10    31687
8     28851
2     28117
7     25714
5     25499
6     25483
4     23227
3     21795
Name: start_month, dtype: int64

In [47]:
# 요일별로 들어온 청원 카운트 , 뒤에는 인덱스 오름정렬로 보기 편하게
df['start_dow'].value_counts().sort_index()

0    54234
1    65229
2    61966
3    63072
4    56646
5    50984
6    43416
Name: start_dow, dtype: int64

In [49]:
# title에 특정 문자열이 들어간 데이터 수집방법

import re
p=r' *(돌봄|아이|초등|보육).*'
care = df[df['title'].str.match(p) | df['content'].str.match(p, flags=re.MULTILINE)]

In [51]:
care.head()

,article_id,start,end,answered,votes,category,title,content,answer,start_date,start_year,start_month,start_month_name,start_dow
23,45,2017-08-19,2017-11-17,0,0,육아/교육,초등학교 교사 임용 시험 관련 해결방안,초등학교 교사 임용 시험을 수능 시험 처럼 전국 단위로 실시하고난 후에\n1지망 2...,0,2017-08-19,2017,8,August,5
49,72,2017-08-20,2017-11-18,0,212,육아/교육,초등학교의 영어회화전문강사를 비롯한 강사들의 무기계약 전환 시도는 교육대학교와 초등...,초등학교의 영어회화전문강사를 비롯한 강사들의 무기계약 전환 시도는 교육대학교와 초등...,0,2017-08-20,2017,8,August,6
253,278,2017-08-22,2017-09-21,0,6,육아/교육,아이들의 보금자리를 지켜주세요.,나이가 어린 영아일수록 부모의 손길이 더 필요하다고 생각하는 현직 보육교사입니다. ...,0,2017-08-22,2017,8,August,1
498,526,2017-08-25,2017-11-23,0,4,육아/교육,기간제교사전환?,초등학교 1학년 자녀를 둔 맞벌이부모입니다.\n저희학교는 맞벌이등을 위한 돌봄교실이...,0,2017-08-25,2017,8,August,4
518,546,2017-08-25,2017-11-23,0,0,육아/교육,아이를 죽음으로 몰수있는 식품규제 청원드립니다.,일본에 수입되는 곤약젤리에 대한 청원입니다.\n컵형태 용기에 담긴 곤약젤리로 기도에...,0,2017-08-25,2017,8,August,4