In [ ]:
temp=2
print(temp)

2

In [ ]:
a=7
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)

10
4
21
2.3333333333333335

In [ ]:
type(a)

int

In [ ]:
#몫 구하기
print(a//b)

2

In [ ]:
#나머지 구하기
print(a%b)

1

In [ ]:
#지수 구하기
print(a**b)

343

In [ ]:
temp='python is easy'
temp

'python is easy'

In [ ]:
#문자열의 길이
len(temp)

14

In [ ]:
#공백 없이
'python'+'is easy'

'pythonis easy'

In [ ]:
#공백 있이
'python '+'is easy'

'python is easy'

In [ ]:
#index[]
temp='python is easy'
temp[3]

'h'

In [ ]:
#slice[]
temp[0:5]

'pytho'

In [ ]:
temp[10:14]

'easy'

In [ ]:
temp[3:-3]

'hon is e'

In [ ]:
temp.split()

['python', 'is', 'easy']

In [ ]:
temp.split("s")

['python i', ' ea', 'y']

In [ ]:
temp2='python,java,R,SAS'
temp2.split(",")

['python', 'java', 'R', 'SAS']

In [ ]:
temp3 = temp2.split(",")
",".join(temp3)

'python,java,R,SAS'

In [ ]:
temp4 = ",".join(temp3)
print(len(temp3))
print(len(temp4))

4
17

In [ ]:
#리스트 생성
number=['one','two','three','four']
print(number)
type(number)
print(','.join(number))

['one', 'two', 'three', 'four']
one,two,three,four

In [ ]:
#리스트 구조로 변환
number_tuple=('one','two','three','four')
print(number_tuple)
list(number_tuple)

('one', 'two', 'three', 'four')

['one', 'two', 'three', 'four']

In [ ]:
#index[]
number[1]

'two'

In [ ]:
#slice[:]
number[2:4]

['three', 'four']

In [ ]:
temp[::2]

'pto ses'

In [ ]:
#리스트값 변환
number[0]='first'
print(number)

['first', 'two', 'three', 'four']

In [ ]:
number[3]='4'
print(number)

['first', 'two', 'three', '4']

In [ ]:
#리스트값 추가 .append()
number=['one','two','three','four']
number.append('five')
print(number)

['one', 'two', 'three', 'four', 'five']

In [ ]:
#리스트값 삭제 del
del number[1]
print(number)

['one', 'three', 'four', 'five']

In [ ]:
#리스트값 삭제 .remove
number.remove('three')
print(number)

['one', 'four', 'five']

In [ ]:
#리스트병합 extend()
number1=['one','two','three','four']
number2=['six','seven','eight','nine']
number1.extend(number2)
print(number1)

['one', 'two', 'three', 'four', 'six', 'seven', 'eight', 'nine']

In [ ]:
#리스트 정렬하기 sort()
number=['one','two','three','four']
number.sort()
print(number)

['four', 'one', 'three', 'two']

In [ ]:
#리스트 정렬하기 sorted()
number=['one','two','three','four']
new_number=sorted(number)
print(new_number)

['four', 'one', 'three', 'two']

In [ ]:
#리스트 내림차순 정렬하기 srort(reverse=True)
number=[1,2,3,4]
number.sort(reverse=True)
print(number)

[4, 3, 2, 1]

In [ ]:
#리스트 내림차순 정렬하기 sorted(list.reverse=True)
number=[1,2,3,4]
new_number=sorted(number,reverse=True)
print(new_number)

[4, 3, 2, 1]

In [ ]:
#튜플 tuple()
number=(1,2,3,4)
print(number)
type(number)

(1, 2, 3, 4)

tuple

In [ ]:
#튜플 갯수 세기
number.count(1)

1

In [ ]:
#튜플 위치 찾기
number.index(4)

3

In [ ]:
#딕셔너리 생성
fruit_price={'apple':3500, 'peer':2500, 'cherry':5000}
print(fruit_price['peer'])
type(fruit_price)

2500

dict

In [ ]:
#딕셔너리로 변환
fruit_price=[['apple',3500],['peer',2500],['cherry',5000]]
fruit_price=dict(fruit_price)
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000}

In [ ]:
#딕셔너리 키값 찾기
fruit_price.keys()

dict_keys(['apple', 'peer', 'cherry'])

In [ ]:
fruit_price.values()

dict_values([3500, 2500, 5000])

In [ ]:
school_class={1:['mina','jane','mark'],
              2:['peter','pay','parker'],
              3:['pay','joy','conan']}
print(school_class[2])
print(school_class.get(1))

['peter', 'pay', 'parker']
['mina', 'jane', 'mark']

In [ ]:
print(school_class.values())

dict_values([['mina', 'jane', 'mark'], ['peter', 'pay', 'parker'], ['pay', 'joy', 'conan']])

In [ ]:
print(school_class.items())

dict_items([(1, ['mina', 'jane', 'mark']), (2, ['peter', 'pay', 'parker']), (3, ['pay', 'joy', 'conan'])])

In [ ]:
#딕셔너리 병합 update()
others={'banana':3200,'grape':2000}
fruit_price.update(others)
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000, 'banana': 3200, 'grape': 2000}

In [ ]:
#딕셔너리 삭제 del
fruit_price={'apple': 3500, 'peer': 2500, 'cherry': 5000}
del fruit_price['apple']
print(fruit_price)

{'peer': 2500, 'cherry': 5000}

In [ ]:
#딕셔너리 삭제 .pop
print(school_class)
school_class.pop(3)
print(school_class)

{1: ['mina', 'jane', 'mark'], 2: ['peter', 'pay', 'parker'], 3: ['pay', 'joy', 'conan']}
{1: ['mina', 'jane', 'mark'], 2: ['peter', 'pay', 'parker']}

In [ ]:
#비교 연산자정리
a=10
b=20
c=30
print(a==b)
print(a!=b)
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)
print(a in (10, 20, 30))

False
True
True
True
False
False
True

In [ ]:
#논리 연산자정리
print(a==b & a==c)
print(a==b and a==c)
print(a==b | a==c)
print(a==b or a==c)
print(not(a==b))

False
False
False
False
True

In [ ]:
#식별 연산자정리
#숫자뿐만 아니라 객체자체를 비교하는 것
print(a is b)
print(a is not b)

False
True

In [ ]:
# if조건문
t=True
if(t):
    print("조건문이 참입니다.")

조건문이 참입니다.

In [ ]:
# else조건문
f=False
if(f):
    print("조건문이 참입니다.")
else:
    print("조건문이 참이 아닙니다.")

조건문이 참이 아닙니다.

In [ ]:
# elif 조건문
t=True
f=False
if(f):
    print("첫번째 조건문이 참입니다.")
elif(t):
    print("첫번째 조건문은 참이 아니고 두번째 조건문은 참입니다.")
else:
    print("조건문이 참이 아닙니다.")

첫번째 조건문은 참이 아니고 두번째 조건문은 참입니다.

In [ ]:
#데이터를 입력받아서 처리 input함수
input('숫자를 입력하세요.')

숫자를 입력하세요.1

'1'

In [ ]:
#홀짝예제

i=int(input('숫자를 입력하시오.'))
if(i%2==0):
    print("Even")
else:
    print("Odd")

숫자를 입력하시오.1
Odd

In [ ]:
#점수예제

score=int(input("Score? "))
if(score<=60):
    print('D')
elif((score>60) & (score<=70)):
    print('C')
elif((score>70) & (score<=80)):
    print('B')
elif((score>80) & (score<=100)):
    print('A')
else:
    print("Wrong Score")

Score? 1
D

In [ ]:
#for 반복문
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
list(range(1,30,3))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [ ]:
#리스트 for 반복문
fruit = ['apple','peer','cherry']
for i in fruit:
    print(i)

apple
peer
cherry

In [ ]:
#딕셔너리 for 반복문 key()
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
for i in fruit_price.keys():
    print(i)

apple
peer
cherry

In [ ]:
#딕셔너리 for 반복문 value()
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
for i in fruit_price.values():
    print(i)

3500
2500
5000

In [ ]:
#딕셔너리 for 반복문 item()
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
for i in fruit_price.items():
    print('과일명 : ',i[0], '가격 : ',i[1])

과일명 :  apple 가격 :  3500
과일명 :  peer 가격 :  2500
과일명 :  cherry 가격 :  5000

In [ ]:
#딕셔너리 for 반복문 다중 value item()
fruit_price={'apple':[3500, 10],'peer':[2500,8],'cherry':[5000,4]}
for i in fruit_price.items():
    print("item =", i)
    print("item = ", i[0], 'itme_1 = ', i[1][0], 'item_2 = ', i[1][1])
    print('과일명 : ',i[0], '가격 : ',i[1][0], '갯수 : ',i[1][1])
    print('*'*30)

item = ('apple', [3500, 10])
item =  apple itme_1 =  3500 item_2 =  10
과일명 :  apple 가격 :  3500 갯수 :  10
******************************
item = ('peer', [2500, 8])
item =  peer itme_1 =  2500 item_2 =  8
과일명 :  peer 가격 :  2500 갯수 :  8
******************************
item = ('cherry', [5000, 4])
item =  cherry itme_1 =  5000 item_2 =  4
과일명 :  cherry 가격 :  5000 갯수 :  4
******************************

In [ ]:
hp=[]
lp=[]
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
for i in fruit_price.items():
    if i[1]>3000:
        hp.append(i[0])
    else:
        lp.append(i[0])
        
print(hp)
print(lp)

['apple', 'cherry']
['peer']

In [ ]:
hp=[]
lp=[]
fruit_price={'apple':3500,'peer':2500,'cherry':5000}

for i, item in enumerate(fruit_price.items()):
    print(i+1,"번 과일 = ", item[0], " ",i+1,"번 과일 가격 =", item[1])
    if item[1]>3000:
        hp.append(item[0])
    else:
        lp.append(item[0])
    print('*'*45)
print(hp)
print(lp)

1 번 과일 =  apple   1 번 과일 가격 = 3500
*********************************************
2 번 과일 =  peer   2 번 과일 가격 = 2500
*********************************************
3 번 과일 =  cherry   3 번 과일 가격 = 5000
*********************************************
['apple', 'cherry']
['peer']

In [ ]:
#점수예제2

score=[50, 85, 97, 30, 88]
lank=sorted(score,reverse=True)

for i, degree in enumerate(lank):
    if(degree<=60):
        print(i+1,"등","| 점수 : ",degree,"| 성적 : ",'D')
    elif((degree>60) & (degree<=70)):
        print(i+1,"등","| 점수 : ",degree,"| 성적 : ",'C')
    elif((degree>70) & (degree<=80)):
        print(i+1,"등","| 점수 : ",degree,"| 성적 : ",'B')
    elif((degree>80) & (degree<=100)):
        print(i+1,"등","| 점수 : ",degree,"| 성적 : ",'A')
    else:
        print("Wrong Score")
    print('*'*30)

1 등 | 점수 :  97 | 성적 :  A
******************************
2 등 | 점수 :  88 | 성적 :  A
******************************
3 등 | 점수 :  85 | 성적 :  A
******************************
4 등 | 점수 :  50 | 성적 :  D
******************************
5 등 | 점수 :  30 | 성적 :  D
******************************

In [ ]:
#txt파일 데이터 출력 open함수
fruit=open('C:/ohhhhh/fruit.txt','wt')
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
for item in fruit_price.items():
    print(item,file=fruit)
fruit.close()

In [ ]:
#txt파일 데이터 출력 .write속성
fruit=open('c:/ohhhhh/fruit2.txt','wt')
fruit.write('apple 3500\n')
fruit.write('peer 250\n')
fruit.write('cherry 5000\n')
fruit.close()

In [ ]:
#csv파일 데이터 출력 이해 1도 못함
import csv
with open('c:/ohhhhh/fruit3.csv','w',newline="") as fruit:
    wirter=csv.writer(fruit,delimiter=',')
    wirter.writerow(['apple'])
    wirter.writerow(['peer'])
    wirter.writerow(['cherry'])
    wirter.writerow(['banana'])
    wirter.writerow(['peach'])

In [ ]:
#txt파일 데이터 불러오기
fruit_path=open('c:/ohhhhh/fruit.txt','rt')
fruit_path

fruit = fruit_path.readlines()
print(fruit)

["('apple', 3500)\n", "('peer', 2500)\n", "('cherry', 5000)\n"]

list

In [ ]:
#csv파일을 불러올 때는 데이터 저장 형태가 객체지향이아니기 때문에 for반복문으로 읽어줘야함.
import csv

f=open('c:/ohhhhh/fruit3.csv','rt')
csvRead=csv.reader(f)
csvRead

In [ ]:
#csv파일 데이터 불러오기
import csv

f=open('c:/ohhhhh/fruit3.csv','rt')
csvRead=csv.reader(f)

fruit= []
for i in csvRead:
    fruit.append(i)
    print(i)

['apple']
['peer']
['cherry']
['banana']
['peach']

In [ ]:
#while 반복문

treehit=0
while treehit<10:
    treehit = treehit+1
    print("나무를 %d번 찍었습니다." % treehit)
    if treehit == 10:
        print("나무 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [ ]:
#format 사용법
a = "아경"
print("{} 청년 아카데미". format(a))

아경 청년 아카데미

In [ ]:
#%d - 숫자, %s - 문자
a="청년"
print("아경 %s 아카데미" %a)

아경 청년 아카데미

In [ ]:
#중복사용 %s
a="청년"
b="데미"
print("아경 %s 아카%s"%(a,b))

아경 청년 아카데미