In [35]:
#국어, 영어, 수학, 과학 점수
test_score={"홍길동":[90,85,77,80],
            "이순신":[88,96,55,60],
            "허준":[56,53,64,66],
            "문익점":[76,89,39,70]}
#다음과 같은 딕셔너리 형태의 학생의 국어, 영어, 수학, 과학 점수가 있다.
#시험은 과락 40점, 평균 60점을 넘어야 pass이다.
#1)학생별 채점 결과는 (평균, 과목최고, 과목최저 점수)?
#2)합격자는 누구인가?
#3)과목별 최고점수, 최저 점수는?

import pandas as pd
df=pd.DataFrame(test_score, index=["국어","영어","수학","과학"])

for i in df:
    if (df[i].mean() >= 60 and df[i].min()>=40):
        print("Name :", i," Average : ", df[i].mean(), " Max : ", df[i].max()," Min : ", df[i].min(), " 합격")
    else:
        print("Name :", i," Average : ", df[i].mean(), " Max : ", df[i].max()," Min : ", df[i].min(), " 불합격")

Name : 홍길동  Average :  83.0  Max :  90  Min :  77  합격
Name : 이순신  Average :  74.75  Max :  96  Min :  55  합격
Name : 허준  Average :  59.75  Max :  66  Min :  53  불합격
Name : 문익점  Average :  68.5  Max :  89  Min :  39  불합격

In [36]:
M=0
m=100
df2=df.T

for i in df2:
    if (M <= df2[i].max()):
        M=df2[i].max()        
    if (m >= df2[i].min()):
        m=df2[i].min()
    print (i," 최고점 : ", M," 최저점 : ", m)

국어  최고점 :  90  최저점 :  56
영어  최고점 :  96  최저점 :  53
수학  최고점 :  96  최저점 :  39
과학  최고점 :  96  최저점 :  39

In [15]:
test_score

{'홍길동': [90, 85, 77, 80],
 '이순신': [88, 96, 55, 60],
 '허준': [56, 53, 64, 66],
 '문익점': [76, 89, 39, 70]}

In [17]:
##선생님 방법

exam_result=[]

for exam_score in test_score.items():
    name=exam_score[0]
    score=exam_score[1]
    avg=sum(score)/len(score)
    if(avg>60 and min(score)>40):
        exam_result.append(name)
    print("Name : ", name," Avg : ", avg," Max : ",max(score)," Min : ",min(score))
    
print("합격자 : ", exam_result)

Name :  홍길동  Avg :  83.0  Max :  90  Min :  77
Name :  이순신  Avg :  74.75  Max :  96  Min :  55
Name :  허준  Avg :  59.75  Max :  66  Min :  53
Name :  문익점  Avg :  68.5  Max :  89  Min :  39
합격자 :  ['홍길동', '이순신']

In [28]:
### 선생님 방법

class_max=[100,100,100,100]
class_min=[0,0,0,0]

for student, exam_score in enumerate(test_score.items()):
    if student == 0:
        class_max = exam_score[1][:]
        class_min = exam_score[1][:]
        
    for subject,score in enumerate(exam_score[1]):
        if class_max[subject] < score:
            class_max[subject] = score
        if class_min[subject] > score:
            class_min[subject] = score
            
print("max = ", class_max)
print("min = ", class_min)

max =  [90, 96, 77, 80]
min =  [56, 53, 39, 60]

In [37]:
test_score.items()

dict_items([('홍길동', [90, 85, 77, 80]), ('이순신', [88, 96, 55, 60]), ('허준', [56, 53, 64, 66]), ('문익점', [76, 89, 39, 70])])

In [29]:
#df 사용없이 해결해보기

for i in test_score:
    hab=0
    M=0
    m=100
    for j in range(0,len(test_score[i])):
        hab = test_score[i][j] + hab
        if (M <= test_score[i][j]):
            M=test_score[i][j]
            
        elif(m >= test_score[i][j]):
            m=test_score[i][j]
            
    print(i, " Ave : ", hab/4," Max : ",M," Min = ",m)

홍길동  Ave :  83.0  Max :  90  Min =  77
이순신  Ave :  74.75  Max :  96  Min =  55
허준  Ave :  59.75  Max :  66  Min =  53
문익점  Ave :  68.5  Max :  89  Min =  39

In [30]:
for i in test_score:
    hab = 0
    m=100
    for j in range(0,len(test_score[i])):
        hab = test_score[i][j] + hab
        if (m >= test_score[i][j]):
            m=test_score[i][j]
    if (hab/4 >= 60 and m>=40):
        print(i, "합격")
    else:
        print(i, "불합격")

홍길동 합격
이순신 합격
허준 불합격
문익점 불합격

In [25]:
for i in test_score:    
    sm=100
    sM=0
    if(sM <= test_score[i][1]):
        sM = test_score[i][1]
        
print(i)

문익점